* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header_landing {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    min-height: 10vh; /* or any other value you prefer */
    width: 100%;
    background: linear-gradient(#001F3F, #001F3F);    
    background-position: center;
    background-size: cover;
    position: relative;
}

.header .logo-img {
    width: 100px; /* Adjust this value to your preferred size */
}


.nav{
    display: flex;
    padding: 5px 6% 5px 1%;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
 /*Main menu*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box-landing{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box-landing p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 0; /* Ensure there's no margin pushing it down */
    padding-top: 0; /* Ensure there's no padding pushing it down */
    /* Adjust the top value if .text-box is positioned absolutely */
    top: 10%; /* Adjust this value based on your design preference */
}


/* The Get the Best Prices on Your Groceries, Instantly!
Compare your grocery list across top supermarkets and shop smart. box */

.text-box h1{
    font-size: 42px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.text-box h2{
    font-size: 42px;
    color: #333;
    margin-top: 250px;
}


/* The get started button */
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/*icons on desktop*/
nav .fa{
    display: none;
}

/*correcting for mobile devices (below 700px)*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 22px;
    }
    .text-box p{
        font-size: 12px;
    }
    .nav-links ul li{
        display: block;
    }

    /*viewsing the main menu at the side*/
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.8s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/* How it works */
/*Banner*/
.how-it-works{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

/*
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
*/

/*creating 4 columns on steps*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*orangy boxes*/
.steps{
    flex-basis: 22%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.steps:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
        /*font-size: smaller;*/
    }
}

/* OUR MAIN FEATURES */
.features{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.feature{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.feature img{
    width: 100%;
    display: block;
}

/*@media(max-width: 700px){
    .row{
        flex-direction: column;
        font-size: smaller;
    }
}*/
.feature p{
    padding: 0;
}
.feature h3{
   margin-top: 16px;
   margin-bottom: 15px;
}


/* NEWSLETTER */

.newsletter{
    margin: 100px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(images/newsletter.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.newsletter h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .newsletter h1{
        font-size: 22px;
    }
}

/* FOOTER */
footer{
    width: 100%;
    position: relative;
    bottom: unset;
    background: linear-gradient(to right, #001F3F, #001F3F);
    color: #fff;
    padding: 30px 0 20px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
}


@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
        
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}

/* FOOTER PAGES */
.footer_pages{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer_pages h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}


/* SEARCH BAR */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    width: 50%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    margin-top: 150px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 16px;
    color: #001F3F;
}

::placeholder{
    color: #001F3F;
}


.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}


