<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ _('Comprix - Default Title') }}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <!-- jQuery library - Important: It's required for DataTables to work -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

    <style>
        ul li::before {
            background-image: url({{ url_for('static', filename='images/unchecked.png') }});
        }
        ul li.checked::before {
            background-image: url({{ url_for('static', filename='images/checked.png') }});
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="header">
        <nav class="nav">
            <a href="{{ url_for('landing') }}"><img src="{{ url_for('static', filename='images/logo_small_beta.png') }}" class="logo-img"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('shopping_list') }}">{{ _('Price Comparison Tool') }}</a></li>
                    <li><a href="{{ url_for('recipes') }}">{{ _('Recipes & Substitutes') }}</a></li>
                    <li><a href="{{ url_for('badges') }}">{{ _('Sustainability & Health Badges') }}</a></li>
                    <li><a href="{{ url_for('blog') }}">{{ _('Blog') }}</a></li>
                    <li><a href="{{ url_for('login_page') }}">{{ _('Login') }}</a></li>
                    <li><a href="{{ url_for('signup_page') }}">{{ _('Signup') }}</a></li>
                    <!--<li><a href="">About Us</a></li>-->
                    <!--<li><a href="">FAQs & Support</a></li>-->
                    <li class="language-switcher">
                        <a href="{{ url_for('set_language', lang_code='en') }}">
                            <img src="{{ url_for('static', filename='images/english-flag.png') }}" alt="{{ _('English') }}" style="width: 25px; height: auto;">
                        </a>
                        <a href="{{ url_for('set_language', lang_code='fr') }}">
                            <img src="{{ url_for('static', filename='images/french-flag.png') }}" alt="{{ _('Français') }}" style="width: 25px; height: auto;">
                        </a>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </section>

    {% block content %}
    <!-- This is where the content of derived templates will be inserted -->
    {% endblock %}

    <section class="footer_pages">
        <h4>{{ _('Contact Us') }}</h4>
        <!--<p>Lorem ipsum</p>-->
        <div class="icons">
            <a href="https://www.facebook.com/comprix.shop" target="_blank" class="instagram-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/comprix.shop/" target="_blank" class="instagram-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <i class="fab fa-linkedin-in"></i>
        </div>
        <p>© 2023 ComPrix</p>
    </section>

    <!-- JavaScript for menu toggle and autocomplete -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var navLinks = document.getElementById("navLinks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
    {% block scripts %}
    <!-- This is where the content of derived templates will be inserted -->
    {% endblock %}
</body>
</html>