{% extends "base.html" %}

{% block title %}
{{ _('Dashboard') }} - {{ session['username'] | capitalize }}
{% endblock %}

{% block content %}
<section class="dashboard">
    <div class="container">
        <div class="welcome-message">
            <h1>{{ _('Welcome back,') }} {{ session['username'] | capitalize }}!</h1>
            <p>{{ _('Here\'s a quick overview of your account.') }}</p>
        </div>
        <div class="dashboard-widgets">
            <div class="widget shopping-list-summary">
                <h2>{{ _('Your Shopping Lists') }}</h2>
                <p>{{ _('A summary of your most recent lists.') }}</p>
                <!-- Dynamically populate the recent shopping lists -->
                <ul>
                    <li><a href="{{ url_for('shopping_list') }}">{{ _('Weekly Groceries') }}</a></li>
                    <!-- Additional lists -->
                </ul>
                <a href="{{ url_for('shopping_list') }}" class="more-link">{{ _('View all lists') }}</a>
            </div>

            <div class="widget recipes-summary">
                <h2>{{ _('Recent Recipes') }}</h2>
                <p>{{ _('Discover new tastes and ideas for your next meal.') }}</p>
                <!-- Dynamically populate the recent recipes -->
                <ul>
                    <li><a href="{{ url_for('recipes') }}">{{ _('Salmon Baked in Red Pesto') }}</a></li>
                    <!-- Additional recipes -->
                </ul>
                <a href="{{ url_for('recipes') }}" class="more-link">{{ _('View all recipes') }}</a>
            </div>

            <div class="widget profile-summary">
                <h2>{{ _('Your Profile') }}</h2>
                <p>{{ _('Manage your personal information and settings.') }}</p>
                <a href="#" class="more-link">{{ _('Edit Profile') }}</a>
            </div>
        </div>

       
    </div>
</section>
{% endblock %}

{% block scripts %}
<!-- Add any dashboard-specific scripts here -->
{% endblock %}
