<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comprix - Comparez, Économisez, Achetez Malin !</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_landing.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
        <section class="header_landing">
            <nav class="nav">
                <a href="{{ url_for('landing') }}"><img src="{{ url_for('static', filename='images/logo_small_beta.png') }}" class="logo-img"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i> 
                    <ul>
                        <li><span class="nav-link" onclick="openPopup()">Comparateur de Prix</span></li>
                        <li><a href="{{ url_for('recipes') }}">Recettes et Alternatives</a></li>
                        <li><a href="{{ url_for('badges') }}">Éco-Labels et Labels Santé</a></li>
                        <li><a href="{{ url_for('blog') }}">Blog</a></li>
                        <li><a href="{{ url_for('login_page') }}">Se Connecter</a></li>
                        <li><a href="{{ url_for('signup_page') }}">S'inscrire</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>

            <div class="text-box-landing">
                <h1>Trouvez les meilleurs prix pour vos courses, en un clin d'œil !</h1>
                <p>Comparez vos courses dans les grands supermarchés et achetez futé.</p>
                <button type="submit" class="hero-btn" onclick="openPopup()">C'EST PARTI</button>
                <div class="popup" id="popup">
                    <span class="close-btn" onclick="closePopup()">&times;</span>
                    <img src="{{ url_for('static', filename='images/location_avocado.png') }}">
                    <h2>Où voulez-vous faire vos courses ?</h2>
                    <input type="text" id="arrondissement-search-input" placeholder="Entrez votre code postal, svp">
                    <button type="submit" class="hero-btn" onclick="window.location.href='{{ url_for('shopping_list') }}'">Faites votre liste de courses</button>
                </div>
            </div>
        </section>

        <!-- How It Works -->
        <section class="how-it-works">
            <h1>Comment ça fonctionne</h1>
            <div class="row">
                <div class="steps">
                    <h3>Faites votre liste</h3>
                    <p>Ajoutez tous les détails que vous voulez, des marques aux tailles des produits. Choisissez comment recevoir vos achats et ajustez votre recherche avec des filtres.</p>
                </div>
                <div class="steps">
                    <h3>Personnalisez votre panier</h3>
                    <p>Nous comparons quatre grandes chaînes pour trouver les options les plus économiques pour vous. Modifiez à votre guise pour une expérience sur mesure.</p>
                </div>
                <div class="steps">
                    <h3>Choisissez et achetez</h3>
                    <p>Voyez le coût total de votre panier, livraison incluse. Choisissez votre supermarché favori et commandez directement.</p>
                </div>
                <div class="steps">
                    <h3>Profitez des économies</h3>
                    <p>Découvrez le plaisir des achats intelligents. ComPrix vous aide à réduire vos factures de courses jusqu'à 20%, tout en vous informant de l'impact nutritionnel et environnemental de vos choix.</p>
                </div>
            </div>
        </section>

        <!-- Features Section -->
        <section class="features">
            <h1>Nos fonctionnalités clés</h1>
            <div class="row">
                <div class="feature">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='images/feature1_canva_.png') }}">
                    </div>
                    <h3>Comparaison de prix en direct</h3>
                    <p>Comparez en direct les prix de votre liste de courses dans plusieurs supermarchés.</p>
                </div>
                <div class="feature">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='images/feature2_canva.png') }}">
                    </div>
                    <h3>Recettes saines et alternatives</h3>
                    <p>Découvrez des recettes saines et des alternatives judicieuses.</p>
                </div>
                <div class="feature">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='images/feature3_canva_comingsoon.png') }}">
                    </div>
                    <h3>Labels de durabilité</h3>
                    <p>Repérez les produits éco-responsables avec nos labels.</p>
                </div>            
            </div>
        </section>

        <!-- Newsletter -->
        <section class="newsletter">
            <h1>Inscrivez-vous à la newsletter</h1>
            <button class="hero-btn" onclick="openSubscribePopup()">JE M'INSCRIS</button>
        </section>

        <div id="subscribePopup" class="subscribe-popup">
            <div class="popup-content">
                <span class="close-btn" onclick="closeSubscribePopup()">&times;</span>
                <h2>Abonnez-vous à notre newsletter</h2>
                <form id="subscribeForm" action="{{ url_for('subscribe_newsletter') }}" method="post">
                    <input type="email" name="email" placeholder="Entrez votre email" required>
                    <button type="submit" class="hero-btn">S'abonner</button>
                </form>
                <p id="thankYouMessage" style="display:none;">Merci de vous être inscrit !</p>
            </div>
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="row">
                <div class="col">
                    <h3>Liens utiles</h3>
                    <ul>
                        <li><a href="{{ url_for('landing') }}">Accueil</a></li>
                        <li><a href="{{ url_for('recipes') }}">Recettes et Alternatives</a></li>
                        <li><a href="{{ url_for('badges') }}">Éco-Labels et Labels Santé</a></li>
                        <li><a href="{{ url_for('blog') }}">Blog</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Aide</h3>
                    <ul>
                        <li><a href="#">Contactez-nous</a></li>
                        <li><a href="{{ url_for('faq') }}">Questions Fréquentes</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Informations légales</h3>
                    <ul>
                        <li><a href="#">Conditions générales</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Newsletter</h3>
                    <form id="footerNewsletterForm" action="{{ url_for('subscribe_newsletter') }}" method="post">
                        <i class="far fa-envelope"></i>
                        <input type="email" name="email" placeholder="Saisissez votre email" required>
                        <button type="submit"><i class="fas fa-arrow-right"></i></button>
                    </form>
                    <p id="footerThankYouMessage" style="display:none;">Merci de vous être inscrit !</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/comprix.shop" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/comprix.shop/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>                        
                        <i class="fab fa-linkedin-in"></i>        
                    </div>
                </div>
            </div>
            <hr>
            <p class="copyright">© 2023 ComPrix</p>
        </footer>

       <!-----Java Script for toggle menu--->
        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right = "0";
            }

            function hideMenu(){
                navLinks.style.right = "-200px";
            }
        
            let popup = document.getElementById("popup");

            // opening and closing the pop-up
            function openPopup() {
                popup.classList.add("open-popup"); 
                navLinks.style.right = "-200px";
            }

            
            function closePopup() {
                popup.classList.remove("open-popup"); 
            }

            // NEWSLETTER
            function openSubscribePopup() {
    document.getElementById("subscribePopup").style.display = "block";
}

function closeSubscribePopup() {
    document.getElementById("subscribePopup").style.display = "none";
}

// Updated form submission handling with AJAX request
document.getElementById("subscribeForm").addEventListener("submit", function(event){
    event.preventDefault();
    const form = this;
    fetch(form.action, {
        method: 'POST',
        body: new FormData(form)
    })
    .then(response => {
        if(response.ok) {
            document.getElementById("thankYouMessage").style.display = "block";
            form.reset(); // Reset the form after successful submission
            // Optionally, you can close the popup after a delay
            setTimeout(() => {
                closeSubscribePopup();
            }, 3000); // Close popup after 3 seconds
        } else {
            alert("Subscription failed. Please try again.");
        }
    })
    .catch(error => console.error('Error:', error));
});


    // FOOTER

    document.getElementById("footerNewsletterForm").addEventListener("submit", function(event){
    event.preventDefault();
    const form = this;
    fetch(form.action, {
        method: 'POST',
        body: new FormData(form)
    })
    .then(response => {
        if(response.ok) {
            document.getElementById("footerThankYouMessage").style.display = "block";
            form.reset(); // Reset the form after successful submission
        } else {
            alert("Subscription failed. Please try again.");
        }
    })
    .catch(error => console.error('Error:', error));
});

        </script>



        <script type="text/javascript">
            $(document).ready(function() {
                var arrondissements = {{ arrondissements | tojson | safe }};
                
                $("#arrondissement-search-input").autocomplete({
                    source: arrondissements,
                    open: function() {
                        // Add a custom class to the autocomplete menu
                        $(".ui-autocomplete").addClass("custom-scroll");
                    }
                });

            });

        
        </script>
        
    </body>
</html>
