{% extends "base.html" %}

{% block title %}
Comprix - Recipes
{% endblock %}

{% block content %}
<div class="recipes">
<section class="hero">
    <div class="hero-text">
        <h1>Recipes</h1>
        <p>Get Inspired</p>
    </div>
</section>

<!---------- recipes ---------->
<div id="portfolio">
    <div class="container">
        <!----------<h1 class="sub-title">My Work</h1>---------->
        <div class="work-list">
            <div class="work">
                <img src="{{ url_for('static', filename='images/recipe1.png') }}">
                <div class="layer">
                    <h3>Thai Curry with Chickpeas, Pumpkin and Spinach</h3>
                    <!----------<p>The app connects you yo the talented people around the world. Download it from play store.</p>---------->
                    <a href="#"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='images/recipe2.png') }}">
                <div class="layer">
                    <h3>Salmon Baked in Red Pesto</h3>
                    <a href="#"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='images/recipe3.png') }}">
                <div class="layer">
                    <h3>Pasta with Shrimp and Zucchini</h3>
                    <a href="#"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
        <!----------<a href="#" class="btn">See more</a>---------->
    </div>
</div>

{% endblock %}
</div>