<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Comprix - Shopping List') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        ul li::before {
            background-image: url({{ url_for('static', filename='images/unchecked.png') }});
        }
        ul li.checked::before {
            background-image: url({{ url_for('static', filename='images/checked.png') }});
        }
    </style>
</head>
<body>
    <section class="header">
        <nav class="nav">
            <a href="{{ url_for('landing') }}"><img src="{{ url_for('static', filename='images/logo_small_beta.png') }}" class="logo-img"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">{{ _('Price Comparison Tool') }}</a></li>
                    <li><a href="{{ url_for('recipes') }}">{{ _('Recipes & Substitutes') }}</a></li>
                    <li><a href="{{ url_for('badges') }}">{{ _('Sustainability & Health Badges') }}</a></li>
                    <li><a href="{{ url_for('blog') }}">{{ _('Blog') }}</a></li>
                    <li><a href="{{ url_for('login_page') }}">{{ _('Login') }}</a></li>
                    <li><a href="{{ url_for('signup_page') }}">{{ _('Signup') }}</a></li>
                    <!-- Language Switcher -->
                    <li class="language-switcher">
                        <a href="{{ url_for('set_language', lang_code='en') }}">
                            <img src="{{ url_for('static', filename='images/english-flag.png') }}" alt="{{ _('English') }}" style="width: 25px; height: auto;">
                        </a>
                        <a href="{{ url_for('set_language', lang_code='fr') }}">
                            <img src="{{ url_for('static', filename='images/french-flag.png') }}" alt="{{ _('Français') }}" style="width: 25px; height: auto;">
                        </a>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </section>

    <!-- Shopping list section -->
<!-- Shopping list section -->
<section class="list">
    <div class="container">
        <!-- Flex container for the headings and sections -->
        <div class="list-and-preferences">
            <!--<img src="{{ url_for('static', filename='images/shopping_list_hero.png') }}" class="left-image" alt="Description">-->
            <div class="list-section">
                <h1>{{ _('Create Your Shopping List!') }}</h1>
                <div class="shopping-list">
                    <div class="row">
                        <input type="text" id="input-box" placeholder="{{ _('Enter your shopping list items, one by one') }}">
                        <button onclick="addTask()">{{ _('Add') }}</button>
                    </div>
                    <ul id="list-container">
                        <!-- List items will be added here -->
                    </ul>
                    <button id="compare-button" class="compare-button" onclick="compareItems()">{{ _('Compare') }}</button>
                </div>
            </div>
            <div class="preferences-section">
                <h2>{{ _('Preferences') }}</h2>
                <div class="preferences-container">
                    <div class="toggle-switch">
                        <input type="checkbox" id="delivery-toggle" name="delivery-toggle" hidden>
                        <label for="delivery-toggle" class="switch-label">
                            <span class="toggle-text left">{{ _('Click & Collect') }}</span>
                            <span class="toggle-text right">{{ _('Delivery') }}</span>
                            <span class="toggle-handle"></span>
                        </label>
                    </div>
                    <div class="toggle-switch">
                        <input type="checkbox" id="price-toggle" name="price-toggle" hidden>
                        <label for="price-toggle" class="switch-label">
                            <span class="toggle-text left">{{ _('Price per item') }}</span>
                            <span class="toggle-text right">{{ _('Per unit (kg, litre)') }}</span>
                            <span class="toggle-handle"></span>
                        </label>
                    </div>
                    <div class="toggle-switch">
                        <input type="checkbox" id="vege-toggle" name="vege-toggle" hidden>
                        <label for="vege-toggle" class="switch-label">
                            <span class="toggle-text left">{{ _('Plant-based') }}</span>
                            <span class="toggle-text right">{{ _('All products') }}</span>
                            <span class="toggle-handle"></span>
                        </label>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</section>


    <section class="categories">
        <h2 class="centered-title">{{ _('Browse Categories') }}</h2>
        <div class="category-container">
            {% for category in categories %}
                <a href="{{ url_for('category_page', category_name=category.name) }}" class="category-item">
                    <!--!!! Delete temporarily !!!
                    <img src="{{ url_for('static', filename='images/Products/Categories/' + category.image) }}" alt="{{ category.name }}" class="category-image">-->
                    <p class="category-name">{{ category.name }}</p>
                </a>
            {% endfor %}
        </div>
    </section>

    <!-- Footer section -->
    <section class="footer_pages">
        <h4>{{ _('Contact Us') }}</h4>
        <!--<p>Lorem ipsum</p>-->
        <div class="icons">
            <a href="https://www.facebook.com/comprix.shop" target="_blank" class="instagram-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/comprix.shop/" target="_blank" class="instagram-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/comprix-shop" target="_blank" class="instagram-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <p>© 2023 {{ _('ComPrix') }}</p>
    </section>

    
    <!-- JavaScript for menu toggle and new autocomplete -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }

        const inputBox = document.getElementById("input-box");
        const listContainer = document.getElementById("list-container");

        function checkButtonVisibility() {
            const compareButton = document.getElementById("compare-button");
            if (listContainer.children.length > 0) {
                compareButton.style.display = "block";
            } else {
                compareButton.style.display = "none";
            }
        }

        function addTask() {
            let inputValue = inputBox.value.trim();
            if (inputValue === '') {
                alert("Please add the first item");
            } else {
                let li = document.createElement("li");
                li.innerHTML = inputValue;
                let icon = document.createElement("i");
                icon.className = "fa fa-circle";
                icon.setAttribute("aria-hidden", "true");
                li.prepend(icon);
                listContainer.appendChild(li);
                let span = document.createElement("span");
                span.innerHTML = "\u00d7";
                li.appendChild(span);
            }
            inputBox.value = "";
            saveData();
        }

        listContainer.addEventListener("click", function(e){
            if(e.target.tagName === "SPAN"){
                e.target.parentElement.remove();
                saveData();
            }
        }, false);

        function saveData(){
            localStorage.setItem("data", listContainer.innerHTML);
            checkButtonVisibility();
        }

        function showTask(){
            listContainer.innerHTML = localStorage.getItem("data");
            checkButtonVisibility();
        }
        showTask();

        // New Autocomplete Logic
        $(document).ready(function() {
            var category = {{ category|tojson|safe }};
            var brands = {{ brands|tojson|safe }};
            var descriptions = {{ descriptions|tojson|safe }};

    $("#input-box").autocomplete({
        source: function(request, response) {
            var terms = request.term.toLowerCase().split(/\s+/); // Split the term into words

            // Custom filter function to match the start of any word in the string
            function matchStartOfWord(sourceArray) {
                return sourceArray.filter(function(item) {
                    return terms.every(function(term) {
                        var words = item.split(/\s+/); // Split the item into words
                        return words.some(word => word.toLowerCase().startsWith(term));
                    });
                });
            }

            var categoryMatches = matchStartOfWord(category);
            var brandMatches = matchStartOfWord(brands);
            var descriptionMatches = matchStartOfWord(descriptions);

            var allMatches = [...new Set([...categoryMatches, ...brandMatches, ...descriptionMatches])];
            response(allMatches);
        },
        select: function(event, ui) {
            event.preventDefault(); // Prevents the default action. This is important for clearing the search bar after hitting enter
            inputBox.value = ui.item.value;
            addTask();
        }
    });
});


        function compareItems() {
    // Get all the list items
    const items = Array.from(listContainer.children).map(li => li.innerText.slice(0, -1)); // slice to remove the "x" character
    if (items.length === 0) {
        alert("Please add items to your shopping list before comparing.");
        return;
    }

    // Create a URL with the items as a parameter
    const shoppingList = items.join(",");
    const compareURL = `{{ url_for('compare_prices') }}?shopping_list=${encodeURIComponent(shoppingList)}`;

    // Open the comparison results in a new window/tab
    window.open(compareURL, '_blank');
}

// PREFERENCES
document.getElementById("click-collect").addEventListener("click", function() {
    this.classList.add("active");
    document.getElementById("delivery").classList.remove("active");
    // Additional logic for Click & Collect can be added here
});

document.getElementById("delivery").addEventListener("click", function() {
    this.classList.add("active");
    document.getElementById("click-collect").classList.remove("active");
    // Additional logic for Delivery can be added here
});

    </script>
</body>
</html>
