{% extends "base.html" %}

{% block title %}
Comprix - {{ subcategory_name }}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('shopping_list') }}">All Categories</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('category_page', category_name=category_name) }}">{{ category_name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ subcategory_name }}</li>
  </ol>
</nav>

  
<section class="subcategory2">
    <h2 class="centered-title">{{ subcategory_name }}</h2>
    <div class="subcategory2-container">
        {% for item in subcategory2_items %}
            <div class="subcategory2-item">
                <!-- Include item images and placeholders as needed -->
                <p class="subcategory2-name">{{ item.name }}</p>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
